*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --mainTransition: all 0.3s linear;
}

/* globals */

@font-face{
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
  font-family: "Montserrat-Regular";
  src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
  font-family: "Montserrat-Thin";
  src: url(./fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face{
  font-family: "Spinnaker-Regular";
  src: url(./fonts/Spinnaker/Spinnaker-Regular.ttf);
}

.homepage-background {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(./images/home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 75% 50%;
}

body{
  line-height: normal;
  height: 100vh;
  background-color:gainsboro;

}

/*****NAVBAR*****/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: rgb(51, 51, 61, 0.7);
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.brand{
  color:white;
  font-size:xx-large;
  font-family: "Montserrat-Bold";
  text-decoration:none;

}
.nav-btn {
  background: transparent;
  cursor: pointer;
  float:right;
  border:none;
}
.nav-icon {
  font-size: 1.75rem;
  color: white;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family:"Montserrat-Regular";
}
.nav-links a:hover {
  text-decoration:underline;
}
.show-nav {
    height: 300px;
}

@media screen and (min-width: 800px) {
  .navbar{
    display:inline;
  }
  .nav-header{
    display: inline-block;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto;
    float:right;
    margin-right: 50px;
    
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    display:inline-block;
    font-size:large;
  }
}
/*****END NAVBAR*****/

/*****HERO*****/
.banner {
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: rgb(51, 51, 61, 0.7);
  background-size: contain;
  bottom: 100px;
  text-align: center;
  z-index:1;
}

.name {
display:none;
  
}
.description {
  display:none;
  
}

@media screen and (min-width: 800px) {
  .name {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: "Montserrat-Regular";
    display:block;
  }
  .description {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: "Montserrat-Thin";
    display:block;
  }
}
