* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* globals */
body {
  padding-top: 66px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/placeholder.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;

}
.navbar ul{
  
  float: right;
  list-style: none;

}

.navbar li {
  display: inline-block;
  padding: 1rem
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  border: 1px solid white
}

.hero {
  position: relative;
  margin-left: 0;
  margin-top:0;
}
.name {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 275px;
}
.description {
  color: white;
  font-size: 40px;
  text-align: center;
  
}

