*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --mainTransition: all 0.3s linear;
}

/* globals */

@font-face{
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face{
  font-family: "Montserrat-Regular";
  src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
  font-family: "Montserrat-Thin";
  src: url(./fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face{
  font-family: "Spinnaker-Regular";
  src: url(./fonts/Spinnaker/Spinnaker-Regular.ttf);
}

@font-face{
  font-family: "Autobus";
  src: url(./fonts/Autobus/Autobusbold-1ynL.ttf);
}

.homepage-background {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(./images/home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 75% 50%;
}

body{
  padding-top: 5rem;
  line-height: 1.5;
  height: 100vh;
  background-color:gainsboro;

}

/*****NAVBAR*****/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 3;
  background-color: rgb(51, 51, 61, 0.7);
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.brand{
  color:white;
  font-size:xx-large;
  font-family: "Montserrat-Bold";
  text-decoration:none;
  float:left;

}
.nav-btn {
  background: transparent;
  cursor: pointer;
  float:right;
  border:none;
}
.nav-icon {
  font-size: 1.75rem;
  color: white;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family:"Montserrat-Regular";
}
.nav-links a:hover {
  text-decoration:underline;
}
.show-nav {
    height: 250px;
}

@media screen and (min-width: 800px)  and (min-height:500px) {
  .navbar{
    display:inline;
  }
  .nav-header{
    display: inline-block;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto;
    float:right;
    margin-right: 50px;
    
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    display:inline-block;
    font-size:21px;
  }
}
/*****END NAVBAR*****/

/*****BANNER*****/
.banner {
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: rgb(51, 51, 61, 0.7);
  background-size: contain;
  bottom: 200px;
  text-align: center;
  z-index:1;
}

.name {
display:none;
  
}
.description {
  display:none;
  
}

@media screen and (min-width: 800px) and (min-height:500px) {
  .name {
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: "Montserrat-Regular";
    display:block;
  }
  .description {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: "Montserrat-Thin";
    display:block;
  }
}
/*****END BANNER*****/

/*****SOCIAL MEDIA*****/
.social-media {
  position: fixed;
  background-color: rgb(51, 51, 61, 0.7);
  background-size: contain;
  height: 140px;
  left: 40px;
  bottom: 20px;
  text-align: center;
  z-index:2;
}


.social-icon {
  font-size: 3rem;
  padding: 5px;
  color: white;
  display:block;
}


@media screen and (min-width: 800px) {
  .social-media{
    position: fixed;
    bottom: 0;
    left: 0;
    padding:20px;
    width: 100%;
    height:80px;
    z-index: 3;
    background-color: rgb(51, 51, 61, 0.7);
  }
  .social-icon {
    font-size: 3rem;
    display:inline-block;
  }
}
/*****END SOCIAL MEDIA*****/


.profile-photo {
  display:block;
  margin-bottom: 10%;
  max-width:100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  float:left;
}

.profile-body{
  position:absolute;
  margin:1rem 7% 5rem 7%;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 800px) {  
  .profile-photo {
    margin-right: 2.5%;
    margin-bottom: 2.5%;
  }
  .profile-body{
    font-size:20px;
    margin:3rem 5% 2rem 5%;
  }
}


/*****RESUME BUTTON*****/
.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 15px 35px;
  font-size: 24px;
  border: 1px solid #2d6898;
  background-image: linear-gradient(to top, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -o-linear-gradient(to top, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -moz-linear-gradient(to top, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -webkit-linear-gradient(to top, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
  background-image: -ms-linear-gradient(to top, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(73,132,180)),
      color-stop(1, rgb(97,155,203))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
-moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
}
.button:hover {
  background-image: linear-gradient(to top, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -o-linear-gradient(to top, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -moz-linear-gradient(to top, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -webkit-linear-gradient(to top, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
  background-image: -ms-linear-gradient(to top, rgb(79,142,191) 0%, rgb(102,166,214) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(79,142,191)),
      color-stop(1, rgb(102,166,214))
  );
}
/****END BUTTON*****/
.resume{
  padding-left:5%;
  padding-right:5%;
  padding-bottom:10%;
  font-family:"Calibri (Body)";
}

/*****UNDER CONSTRUCTION PAGE*****/
.construction-background {
  position:fixed;
  width: 100%;
  background-image: url(./images/GrayBackground.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 75% 50%;
}
.construction-banner{
  bottom: 500px;
  left:25%;
  right: 25%;
  font-family:"Yellowtail";
}
.construction-name{
  font-family:"Autobus";
  font-size:100px;
}